body {
  background: #cedce7; 
  background: -moz-linear-gradient(-45deg, #cedce7 18%, #596a72 100%);
  background: -webkit-linear-gradient(-45deg, #cedce7 18%,#596a72 100%);
  background: linear-gradient(135deg, #cedce7 18%,#596a72 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#cedce7', endColorstr='#596a72',GradientType=1 );
  margin: auto;
  text-align: center;
  width: 65vw;
  font-family: sans-serif;
}

article h3 {
  margin: 0;
}

p {
  font-size: 25px;
  margin: 0;
}

ul {
  list-style: none;
}

li {
  display: flex;
  justify-content: space-between;
  margin: 1px 55px 1px 12px;

}

select {
  font-size: 15px
}

.title {
  margin: 20px auto 0 auto;
  color: red;
}

.palette-generator {
  display: flex;
  justify-content: space-between;
  margin: 30px auto 15px auto;
}

.color {
  background: white;
  border: solid;
  height: 150px;
  width: 18%;
}

.generate-palette-button {
  font-size: 20px;
  height: 35px;
  width: 100%;
}

.generate-palette-button:hover {
  background: pink;
}

.lock {
  background-image: url(assets/lock.png);
  background-repeat: no-repeat;
  background-position: bottom;
}

.input-palette-name {
  height: 35px;
  float: left;
  font-size: 16px;
  width: 75%;
}

.save-palette-button {
  height: 41px;
  float: right;
  font-size: 16px;
  width: 23%;
}

.save-palette-button:hover {
  background: pink;
}

.directions {
  color: darkred;
  font-size: 20px;
  font-weight: 700;
  letter-spacing: 3px;
  margin: 0px;
}

.save-to-project-button {
  display: block;
  font-size: 20px;
  height: 41px;
  margin: 100px auto 0px auto;
  width: 100%;
}

.save-to-project-button:hover {
  background: pink;
}

.saved-items-container {
  display: inline-block;
  margin-top: 18px;
  width: 49%;
}

.saved-palettes-list, .saved-projects-list {
  border: solid thin;
  display: inline-block;
  height: 200px;
  margin-top: 0px;
  padding: 0px;
  text-align: left;
  vertical-align: top;
  width: 100%;
}

.palette:hover {
  background: pink;
  cursor: pointer;
}

.project:hover {
  background: pink;
  cursor: pointer;
}

.project {
  font-size: 25px;
}

.create-new-project {
  margin-top: 5px;
}

.input-project-name {
  font-size: 16px;
  margin-left: 5px;
  margin-top: 1px;
  width: 60%;
}

.save-project-button {
  border-radius: 0%;
  font-size: 16px;
}

.save-project-button:hover {
  background: pink;
}

.selected {
  border: solid;
}

.isHidden {
  display: none;
}

.delete-project {
  background-color: transparent;
  background-image: url(assets/grey-trash-can.png);
  background-repeat: no-repeat;
  background-size: 20px;
  border: none;
  cursor: pointer;
  font-size: 25px;
  height: 1em;
  left: 15px;
  position: relative;
  top: 29px;
  width: 1em;
}

.delete-project:hover {
  background-color: transparent;
  background-image: url(assets/red-trash-can.png);
  background-repeat: no-repeat;
  background-size: 20px;
  border: none;
}

.saved-palette {
  border: solid thin;
  display: inline-block;
  height: 25px;
  width: 25px;
}

.delete-button {
  background-color: transparent;
  background-image: url(assets/grey-trash-can.png);
  background-repeat: no-repeat;
  border: none;
  bottom: 32px;
  float: right;
  height: 30px;
  position: relative;
  vertical-align: bottom;
  width: 30px;
}

.delete-button:hover {
  background-image: url(assets/red-trash-can.png);
  background-repeat: no-repeat;
  border: none;
  height: 30px;
  vertical-align: bottom;
  width: 30px;
}
